SECRET_KEY=django-insecure-orizon-premium-secret-key-change-this-in-prod
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,backend
DB_NAME=orizon_db
DB_USER=orizon
DB_PASSWORD=orizon_pass
DB_HOST=db
DB_PORT=5432
CORS_ORIGINS=http://localhost:5173,http://localhost:5175,http://127.0.0.1:5173
FILE_STORAGE=django.core.files.storage.FileSystemStorage

# AWS S3 Settings (Optional/Production)
AWS_ACCESS_KEY_ID=your-aws-access-key-id
AWS_SECRET_ACCESS_KEY=your-aws-secret-access-key
AWS_STORAGE_BUCKET_NAME=your-s3-bucket-name
AWS_S3_REGION_NAME=us-east-1
